:root {
    --ff-space-mono: "Space Mono", monospace;

    --fw-normal: 400;
    --fw-bold: 700;

    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;

    --clr-hover: hsl(46, 100%, 97%);
    --clr-active-state: hsl(17, 83%, 54%);
    --clr-primary-text: hsl(38, 16%, 76%);
    --clr-primary-background: hsl(40, 4%, 14%);
    --clr-secondary-background: hsl(34, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--ff-space-mono);
    background-color: var(--clr-primary-background);
}